<?xml version="1.0" encoding="utf-8"?>
<!--
您 Web 项目的发布/打包进程将使用此文件。您可以通过编辑此 MSBuild 文件
来自定义该进程的行为。若要了解与此相关的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://contactmanager20170221.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>contactmanager20170221.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ContactManager20170221</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ContactManager20170221</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:contactmanager20170221dbserver.database.windows.net,1433;Initial Catalog=ContactManager20170221_db;User ID=dbadmin@contactmanager20170221dbserver;Password=P2ssw0rd" Name="Data Source=tcp:contactmanager20170221dbserver.database.windows.net,1433;Initial Catalog=ContactManager20170221_db;User Id=dbadmin@contactmanager20170221dbserver;Password=P2ssw0rd" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ContactManager.Models.ApplicationDbContext, ContactManager" MigrationConfiguration="ContactManager.Migrations.Configuration, ContactManager" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:contactmanager20170221dbserver.database.windows.net,1433;Initial Catalog=ContactManager20170221_db;User Id=dbadmin@contactmanager20170221dbserver;Password=P2ssw0rd</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>